:root{
    --primary: #5A4AF4;
    --secundary: #1ea5fc;
    --tertary: #b66dff;
    --sucess: #05ce91;
    --error: #ff6161;
    --grey: #323b54;
    --grey-50: #EBEEF5;
    --grey200: #a8aebf;
    --grey300:  #8E95A9;
    --text: #ebeef5;
    --warning: #ffad49;
}