.container{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2.4rem 12rem;
    background-color: #12182981;
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4{
        font-weight: 500;
        color: var(--grey200);
        font-size: 1.6rem;
    }

    .options{
        display: flex;
        flex-direction: row;
        column-gap: 4rem;

        .suggest{
            display: flex;
            flex-direction: row;
            column-gap: 0.8rem;
        }
    }
}